.row {
  .cra {
    max-width: 103rem;
    margin: auto;
    overflow: auto;

    /*-------------- header-filter -----------------*/
    .header-filter {
      margin-bottom: 10px;

      .filter-table-end {
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        color: white; // Couleur du texte
      }

      mat-toolbar {
        background-color: white;
        box-shadow: none;
        margin-top: 0px;
        display: flex;
        align-items: center;
        position: relative; // Ajout pour positionner correctement le dégradé

        img {
          width: 40px;
          height: 40px;
        }

        // Ajout du dégradé entre la barre d'outils et le formulaire
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: linear-gradient(to right, #E50060 40%, #193f77 100%);
        }
      }

      .select {
        .mat-mdc-form-field-wrapper {
          border-color: #E50060; // Couleur de la bordure
        }
      }

      .mat-form-field {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 8px;
        color: #E50060;
        font-size: medium;
        font-weight: bold;
        background-color: #fff;
        border: none;
      }

      .chips {
        margin: auto 1rem;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
        color: white;
        padding: 4px 8px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }

      .name-month,
      .name-year {
        display: flex;
        width: 11rem;
        justify-content: space-between;
        background: none;
        margin-right: 0.5rem;
        border-radius: 0.3rem;
        text-align: center;
        color: #E50060;
        align-items: center;

        span {
          display: flex;
          align-items: center;
          border-bottom: 2px solid #F286B4;
          flex-grow: 1;
        }

        .text-center {
          flex-grow: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        h3 {
          text-align: center;
          color: #E50060;
          margin: 0;
        }

        button {
          background: none;
          box-shadow: none;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;

          mat-icon {
            color: #E50060;
            font-size: 30px;
          }
        }
      }
    }
/*--------------- Table-TimeSheet -----------------*/
.timesheet-content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  align-items: center;
  margin-bottom: 4px;

  // height: calc(100vh - 50px);
  .vide {
    position: sticky;
    top: 0; // Fix the header at the top
    z-index: 2;
    background-color: rgb(250, 251, 252);
  }

  .table-cra {
    overflow: auto; // Add vertical scrolling
    max-height: calc(100vh - 18.3rem); // Adjust this according to your layout
  }

  .sticky-header {
    position: sticky;
    top: 0; // Fix the header at the top
    z-index: 2;

  }

  .Projects {
    overflow-y: auto;
    max-height: calc(100vh - 12.3rem);
  }

  .col-projects {
    background: white;
    color: #193F77;
    border-radius: 0.3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* You can adjust the shadow as needed */
  }


  .name-project,
  .total {
    min-width: 6rem;
    min-height: 2.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.5rem;
    width: 10rem;
    overflow-y: auto;
    max-height: 10rem;
    font-weight: bold;

  }

  .col-total {
    background: #e11d74;
    color: white;
    font-weight: 700;

  }

  .nb-total {
    display: flex;
    justify-content: center;
    align-items: center;
    // background: white;
    background: #eeeeee;
    border: 0.1rem solid #e2e2e2;
    width: 2rem;
    height: 2rem;
    margin: auto;
    border-radius: 0.6rem;
    font-size: 1rem;

  }

  .col-nb-total {
    border-top: 0.015rem solid #e2e2e2;
    background: #eeeeee;
  }

  .totaldays {
    position: sticky;
    right: 0;
    z-index: 1;
    // background: #de3163;
    // min-width: 2rem;
    color: #193F77;
    background: white;
    min-width: 4.5rem;
    text-align: center;
    overflow: auto; // Add vertical scrolling
    max-height: calc(100vh - 12.3rem);
    white-space: nowrap;
    border-radius: 0.1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* You can adjust the shadow as needed */
  }

  table {

    thead {
      th:first-child {
        position: sticky;
        left: 0;
        z-index: 2;
        // background-color: #E2E2E2;
      }

      th {
        border-radius: 0.25rem;

        .days {
          width: 3.5rem;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          border-radius: 0.15rem;
          background-color: white;

          .day-name,
          .day-number {
            margin: 0;
            display: flex;
            justify-content: center;
            color: #193F77;
            //background: white;
            font-weight: bold;

            // border-right: 0.1rem solid #E11D74;
          }

          .day-name {
            max-width: 5rem !important;
            overflow: hidden;
            font-size: 0.75rem !important;
            font-weight: 500;

          }

          .day-number {
            font-size: 0.9rem !important;
            font-weight: 400;
          }
        }
      }
    }

    tbody {
      td:first-child {
        position: sticky;
        left: 0;
        z-index: 1;
        // background-color: #E2E2E2;
      }

      td {
        vertical-align: middle;
        background:white;
        .div-heure {
          margin: 0.3rem;
          width: 3rem;
          height: 1.6rem;
          color: #E50060;

          .input-heure {
            width: 100%;
            height: 100%;
            padding: 0.2rem;
            display: flex;
            justify-content: center;
            text-align: center;
            border-radius: 0.3rem;
            border: none;
            color: #496793;
            font-weight: bold;

          }

          &.border-empty {
            border: 2px solid #879BB8;
            color: #496793;
            border-radius: 0.3rem;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          }

          &.border-filled {
            border: 2px solid #E50060;
            color: #E50060;
            border-radius: 0.3rem;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

          }
        }
      }

    }
  }
  /*--------------- scroll : Table-TimeSheet -----------------*/
::-webkit-scrollbar-thumb {
  background-color: #e64c8c;
  border-radius: 10px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 8px;
  scrollbar-width: thin;
  scrollbar-color: #e64c8c #FFFFFF;
}

} 

    /*-------------- Description -----------------*/
    .form {
      padding: 16px;
      display: flex;
      flex-direction: row;
      background-color: #fff;
      margin-top: 8px;

      .textarea {
        height: 69px;
      }

      .description {
        flex-grow: 1;
        margin-right: 8px;
        border-color: #E50060;
        /*
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);*/
      }

      .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
          margin-bottom: 4px;
          margin-right: 4px;
        }
      }
    }
  }
}






/*-------------- Firefox -----------------*/
.input {

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */

  input[type="number"] {
    -moz-appearance: textfield;
  }
}