<div class="profile-container">
    <div class="btn-add">
        
        <h1>{{ 'features.profile.title' | transloco }}</h1>
        <ng-container *ngIf="!isEditing; else editingButtons">
            <button mat-flat-button color="primary" class="right-aligned" (click)="openPopup()">{{ 'features.popup.title' | transloco }}</button>
            &nbsp;&nbsp;&nbsp;
          <!-- Popup pour afficher les congés -->

          <div class="popup-container" *ngIf="showPopup" (click)="closePopup()">
            <div class="popup-content" (click)="$event.stopPropagation()">
              <span class="close-icon" (click)="closePopup()">&times;</span>
              <h3 class="title">{{ 'features.popup.title' | transloco }}</h3>
              <div class="conge-list">
                <div *ngFor="let conge of congesUtilisateurConnecte" class="conge-card">
                  <div class="conge-header">
                    <span class="conge-nature">{{ conge.nature }}</span>
                    <span class="status-badge" [ngClass]="{'approved': conge.status === 1, 'pending': conge.status === 0, 'refused': conge.status === 2}">
                      {{ getStatusLabel(conge.status) }}
                    </span>
                  </div>
                  <div class="conge-details">
                    <div class="date">
                      <mat-icon>event</mat-icon> 
                      <span *ngIf="conge.dateDebut?.getTime() === conge.dateFin?.getTime()">
                        {{ 'features.popup.singleDay' | transloco }} {{ conge.dateDebut | date: 'dd/MM/yyyy' }}
                      </span>
                      <span *ngIf="conge.dateDebut?.getTime() !== conge.dateFin?.getTime()">
                        {{ 'features.popup.range' | transloco }} {{ conge.dateDebut | date: 'dd/MM/yyyy' }} → {{ conge.dateFin | date: 'dd/MM/yyyy' }} 
                      </span>
                    </div>
                    <div class="duration">
                      <mat-icon>access_time</mat-icon> 
                      {{ 'features.popup.duration' | transloco }}: {{ conge.duree }} jour{{ conge.duree > 1 ? 's' : '' }}
                    </div>
                  </div>
                  <button *ngIf="conge.status === 0" class="cancel-button" (click)="onAnnulerConger(conge)">
                    {{ 'features.popup.cancelRequest' | transloco }}                  </button>
                </div>
              </div>
            </div>
          </div>
          
          
          
          
          


            <button mat-flat-button color="primary" (click)="enterEditMode()">
                {{ 'features.profile.edit' | transloco }}
            </button>
     
        </ng-container>
        <ng-template #editingButtons>
            <button mat-flat-button color="primary" (click)="saveProfile()">
                {{ 'features.timeshet.Save_Changes' | transloco }}
            </button>
        </ng-template>
        
    </div>
    
    <div class="content">
        <mat-card class="MatCard-profile">
            <form [formGroup]="profileForm">
                <div class="profile-image-container">
                    <!-- Cercle principal pour la photo de profil -->
                    <div class="user-avatar-container">
                        <img *ngIf="profileImage" [src]="profileImage" class="user-avatar" alt="User Profile">
                        <mat-icon *ngIf="!profileImage" class="user-avatar">person</mat-icon>
                    </div>
                    <!-- Cercle pour l'icône d'ajout de photo -->
                    <div class="add-photo-icon" [class.disabled]="!isEditing" (click)="isEditing && fileInput.click()">
                        <mat-icon>add_a_photo</mat-icon>
                        <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)"
                            style="display:none" [readonly]="!isEditing">
                    </div>
                </div>
                <!-- User Name -->
                <div class="User-name">
                    <h4>{{ 'features.profile.user_name' | transloco }}</h4>
                    <mat-form-field class="mat-mdc-form-field" appearance="outline">
                        <input matInput formControlName="name" [readonly]="!isEditing" />
                    </mat-form-field>
                </div>
                <!-- User Email -->
                <div class="Email">
                    <h4>Email </h4>
                    <mat-form-field class="mat-mdc-form-field" appearance="outline">
                        <input matInput formControlName="Email" [readonly]="!isEditing" />
                    </mat-form-field>
                </div>
                <!-- User Date de naissance  -->
                <div class="Date">
                    <h4>{{ 'features.profile.Date_Birth' | transloco }}</h4>
                    <mat-form-field class="mat-mdc-form-field" subscriptSizing="dynamic" appearance="outline">
                        <input matInput [matDatepicker]="dateOfBirthPicker" name="dateOfBirth"
                            formControlName="dateOfBirth" [readonly]="!isEditing" />
                        <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
                        <mat-datepicker #dateOfBirthPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <!-- User Phone Number -->
                <div class="Phone">
                    <h4>{{ 'features.profile.Phone' | transloco }}</h4>
                    <mat-form-field class="mat-mdc-form-field" appearance="outline">
                        <input matInput formControlName="phone" [readonly]="!isEditing" />
                    </mat-form-field>
                </div>
            </form>
        </mat-card>
        <div class="mixte">
            <div class="side-and-state-container">
                <div class="side-cards">
                    <!-- Nombre de congé payé -->
                    <mat-card class="Conge-payee">
                        <div class="texte-img-container">
                            <h4 class="texte">{{ 'features.profile.NumbConger_pay' | transloco }}</h4>
                            <img src="assets/images/Badge.png" class="card-image">
                        </div>
                        <p class="solde-conge">{{ profileForm.value.conge }}</p>
                    </mat-card>
                    <br>
                    <!-- Nombre de congé maladie -->
                    <mat-card class="Conge-maladie">
                        <div class="texte-img-container">
                            <h4 class="texte">{{ 'features.profile.NumbConger_Mal' | transloco }}</h4>
                            <img src="assets/images/Badge.png" class="card-image">
                        </div>
                        <p class="solde-conge">{{ profileForm.value.maladie }}</p>
                    </mat-card>
                </div>
                <!-- Statistic 
                <div class="state-card">
                    <mat-card class="State-Project">
                        <div #chart></div>
                    </mat-card>
                </div>-->
            </div>

            <mat-card class="Embauche">
                <h3 style="color: #E50060;">
                    <b>{{ 'features.profile.hr_data' | transloco }}</b>
                </h3>
                <form [formGroup]="profileForm">
                    <div class="form-row">
                        <!-- Type de contrat -->
                        <div class="User-name" [ngClass]="{'disabled': !IsAdmin || !isEditing}">
                            <h4>{{ 'features.profile.Type_contrat' | transloco }}</h4>
                            <mat-form-field class="mat-mdc-form-field" appearance="outline">
                                <mat-select [(ngModel)]="typeContrat" name="dureeConge" formControlName="typeContrat">
                                    <!-- Options pour la durée de congé -->
                                    <mat-option value="CDI">CDI</mat-option>
                                    <mat-option value="CIVP">CIVP</mat-option>
                                    <mat-option value="Stagiaire">Stagiaire</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- Date d'embauche -->
                        <div class="User-name" [ngClass]="{'disabled': !IsAdmin || !isEditing}">
                            <h4>{{ 'features.profile.Date_embauche' | transloco }}</h4>
                            <mat-form-field class="mat-mdc-form-field" subscriptSizing="dynamic" appearance="outline">
                                <input matInput [matDatepicker]="dateEmbuchePicker" placeholder="Choose a date"
                                    name="dateEmbauche" formControlName="dateEmbauche" />
                                <mat-datepicker-toggle matSuffix [for]="dateEmbuchePicker"></mat-datepicker-toggle>
                                <mat-datepicker #dateEmbuchePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- Poste -->
                    <div class="User-name" [ngClass]="{'disabled': !IsAdmin || !isEditing}">
                        <h4>Poste</h4>
                        <mat-form-field class="mat-mdc-form-field" appearance="outline">
                            <input matInput formControlName="poste" />
                        </mat-form-field>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>