
.MatCard-profile {
  width: 30%;
  border: none;
  border-radius: 10px;
  padding: 9px 18px; /* Ajustez les valeurs de padding selon vos besoins */
  font-size: 0.80rem; /* Ajustez la taille de la police selon vos besoins */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  display: flex;
  .profile-image-container {
    margin: 20px auto;
    width: 140px;
    height: 140px;
    position: relative;
    border-radius: 50%; 
    overflow: hidden;
  }
  
  .user-avatar-container {
    width: 150%;
    height: 150%;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-color: #E50060;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }
  
  .user-avatar {
    color: #fff;
    font-size: 80px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  //ajouter une photo
  .add-photo-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .add-photo-icon mat-icon {
    font-size: 24px;
    color: #E50060;
  }
 
  .User-name ,
  .Email,
  .Date,
  .Phone
  {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .Phone
  {
    margin-top: 20px;
  }
}


h4 {
  color: #193F77;
  font-family: Roboto, sans-serif;
  letter-spacing: normal;
  margin-bottom: 6px;
  font-weight: 400; // Semi-bold
}
mat-form-field {
  width: 90%;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 80%;
}
.side-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 30%;
}
.cards-container mat-card {
  flex: 1 1 calc(33.333% - 20px);
  border: none;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

.small-image {
  width: 130px; 
  height: auto; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

