<div class="btn-add">
  <h1>{{ 'features.remote.title' | transloco }}</h1>
</div>
<mat-toolbar>
  <div class="week-navigation" *ngIf="selectedView === 'week'">
    <mat-icon color="primary" *ngIf="isAdmin" (click)="previousWeek()">navigate_before</mat-icon>
    <h3 style="color: #E50060;">
      {{ 'features.remote.Week_starting' | transloco }} {{
      formatDate(currentWeekStart, 'MMMM d, yyyy') }}
    </h3>
    <mat-icon color="primary" *ngIf="isAdmin" (click)="nextWeek()">navigate_next</mat-icon>
  </div>
  <button mat-button *ngIf="isAdmin" (click)="goToToday()" class="today" style="color: white;">
    {{ 'features.remote.Today' | transloco }}
  </button>
</mat-toolbar>

<div class="table-container" *ngIf="filteredDisplayNames && filteredDisplayNames.length > 0">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-color sticky-header">{{ 'features.remote.Name' | transloco }}</th>
        <th *ngFor="let day of currentWeekDays" class="day-separator text-color sticky-header">
          {{ day.date }}
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let displayName of filteredDisplayNames">
        <tr *ngIf="displayName.name">
          <td class="name-cell" [ngStyle]="{'background-color': displayName.id == currentUserId ? '#E8F1FD' : ''}">
            <div class="name-container">
              <img *ngIf="displayName.photoURL" [src]="displayName.photoURL" class="photo" />
              <mat-icon *ngIf="!displayName.photoURL" class="user-avatar">person</mat-icon>
              <span class="text-color">{{ displayName.name }}</span>
            </div>
          </td>
          <td *ngFor="let day of currentWeekDays" class="day-separator" [ngStyle]="{'background-color': displayName.id == currentUserId ? '#E8F1FD' : ''}">
            <div class="image-container">
              <div *ngIf="isTuesday(day.date)&& !day.isDayOff" class="team-day-text">
                <span class="day-off-text">Journée d'équipe</span>
              </div>
              <div *ngIf="day.isDayOff">
                <div class="day-off-container">
                  <span class="day-off-text">{{ 'features.day_off.Day_off' | transloco }}</span>
                  <mat-icon class="day-off-icon">sentiment_very_satisfied</mat-icon>
                </div>
              </div>
              <div *ngIf="!day.isDayOff">
                <!-- Show the plus icon if neither remote nor client image is selected -->
                <div *ngIf="selectedImage[displayName.id]?.[day.date]?.image === 'plus'" (click)="showImageChoices(displayName.id, day.date)">
                  <mat-icon class="plus-icon">add</mat-icon>
                </div>
                <div *ngIf="selectedImage[displayName.id]?.[day.date]?.image !== 'plus'">
                  <img [src]="getImageUrl(selectedImage[displayName.id][day.date].image)" class="example-image" (click)="toggleImageChoices(displayName.id, day.date)" />
                  <mat-icon class="cancel-icon" (click)="removeImage(displayName.id, day.date)">cancel</mat-icon>
                </div>
                <div *ngIf="showChoices[displayName.id]?.[day.date]" class="image-choices">
                  <div (click)="selectRemoteImage(displayName.id, day.date)">
                    <img src="assets/images/remote.png" class="example-image" />
                    <span>{{ 'features.remote.remote' | transloco }}</span>
                  </div>
                  <div (click)="selectClientImage(displayName.id, day.date)">
                    <img src="assets/images/client.png" class="example-image" />
                    <span>Client</span>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
       <tr>
    <td class="text-color sticky-footer" style="font-weight: bold;">
      {{ 'features.remote.total_remote_days' | transloco }}
    </td>
    <td *ngFor="let day of currentWeekDays" class="day-separator text-color sticky-footer" style="font-weight: bold;">
      {{ calculateRemoteTotalForDay(day.date) }}
    </td>
  </tr>
    </tbody>
  </table>
</div>
