<div class="btn-add">
  <h1>{{ 'features.remote.title' | transloco }}</h1>
</div>
<mat-toolbar>
  <div class="week-navigation" *ngIf="selectedView === 'week'">
    <mat-icon color="primary" (click)="previousWeek()">navigate_before</mat-icon>
    <h3 style="color: #E50060;">{{ 'features.remote.Week_starting' | transloco }} {{
      formatDate(currentWeekStart,'MMMM d, yyyy') }}</h3>
    <mat-icon color="primary" (click)="nextWeek()">navigate_next</mat-icon>
    <!-- <button class="pink-button" (click)="saveChanges()">{{'features.projects.button.save' | transloco}}</button>-->
  </div>
  <div class="week-navigation" *ngIf="selectedView === 'month'">
    <mat-icon color="primary" (click)="navigate('prev')">navigate_before</mat-icon>
    <h3 style="color: #E50060;">{{ calendarToolbarTitle }}</h3>
    <mat-icon color="primary" (click)="navigate('next')">navigate_next</mat-icon>
    <!-- <button class="pink-button" (click)="saveChanges()">{{'features.projects.button.save' | transloco}}</button>-->
  </div>
  <button mat-button (click)="goToToday()" class="today" style="color: white;">{{ 'features.remote.Today' | transloco
    }}</button>
  <!--
  <div class="view-selection">
    <mat-button-toggle-group [(ngModel)]="selectedView" (change)="onViewChange($event)" aria-label="View selection">
      <mat-button-toggle value="week" class="modern-button-toggle">{{ 'features.remote.Week' | transloco
        }}</mat-button-toggle>
      <mat-button-toggle value="month" class="modern-button-toggle">{{ 'features.remote.Month' | transloco
        }}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>-->
</mat-toolbar>
<!----------------- Month---------------------->
<div class="table-container" *ngIf=" filteredDisplayNames && filteredDisplayNames.length > 0">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-color sticky-header">{{ 'features.remote.Name' | transloco }}</th>
        <th *ngFor="let day of currentWeekDays" class="day-separator text-color sticky-header">{{ day.date }}</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let displayName of filteredDisplayNames; let i = index">
        <tr *ngIf="displayName.name">
          <td class="name-cell">
            <div class="name-container">
              <img *ngIf="displayName.photoURL" [src]="displayName.photoURL" class="photo" />
              <mat-icon *ngIf="!displayName.photoURL" class="user-avatar">person</mat-icon>
              <span class="text-color">{{ displayName.name }}</span>
            </div>
          </td>
          <td *ngFor="let day of currentWeekDays; let j = index" class="day-separator">
            <div class="image-container">
              <div *ngIf="day.isDayOff">
                <div class="day-off-container">
                  <span class="day-off-text">{{ 'features.day_off.Day_off' | transloco }}</span>
                  <mat-icon class="day-off-icon">sentiment_very_satisfied </mat-icon>
                </div>
              </div>
              <div *ngIf="!day.isDayOff">
                <div class="plus-image" *ngIf="selectedImage[i]?.[j]?.image === 'plus'"
                  (click)="showImageChoices(i, j)">
                  <mat-icon class="plus-icon">add</mat-icon>
                </div>
                <div *ngIf="selectedImage[i]?.[j]?.image !== 'plus'">
                  <img [src]="getImageUrl(selectedImage[i][j].image)" class="example-image"
                    (click)="toggleImageChoices(i, j)" />
                  <mat-icon class="cancel-icon" (click)="removeImage(i, j)">cancel</mat-icon>
                </div>
                <div *ngIf="showChoices[i]?.[j]" class="image-choices">
                  <div (click)="selectRemoteImage(i, j)">
                    <img src="assets/images/remote.jpg" class="example-image" />
                    <span>{{ 'features.remote.titre' | transloco }}</span>
                  </div>
                  <div (click)="selectClientImage(i, j)">
                    <img src="assets/images/client.jpg" class="example-image" />
                    <span>Client</span>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<!----------------- week---------------------->
<!--<div class="table-week" *ngIf="selectedView === 'month' ">
  <full-calendar #calendar [options]="calendarOptions" (eventClick)="handleEventClick($event)"></full-calendar>
</div>-->