<div class="page-container">

  <h1>
    {{ 'features.liste_conge.title' | transloco }}
  </h1>
  <mat-card>

    <!-- ---------------------header-filtre--------------------------->
    <div class="header-filter">
      <mat-toolbar>
        <!--  filtrer selon les états-->
        <div class="filter-table">
          <span class="mat-form-field">
            <mat-form-field subscriptSizing="dynamic" appearance="outline">
              <mat-select [(ngModel)]="selectedStatus" (ngModelChange)="filterByStatus(selectedStatus)">
                <mat-option value="all">{{ 'features.liste_conge.all' | transloco }}</mat-option>
                <mat-option value="awaiting">{{ 'features.liste_conge.awaiting' | transloco }}</mat-option>
                <mat-option value="approved">{{ 'features.liste_conge.approved' | transloco }}</mat-option>
                <mat-option value="rejected">{{ 'features.liste_conge.rejected' | transloco }}</mat-option>
              </mat-select>
            </mat-form-field>


          </span>
        </div>
        <!--  Recherche -->
        <div class="filter-table-end"> <!-- Modifier la classe parente de la recherche -->
          <span class="mat-form-field">
            <mat-form-field appearance="outline">
              <mat-label>
                {{ 'features.projects.search' | transloco }}
              </mat-label>
              <input type="text" #searchInput matInput (input)="applyFilter($event)" />
            </mat-form-field>
          </span>

        </div>
      </mat-toolbar>
    </div>


    <!-- ---------------------Liste-Conge---------------------------->
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Colonne de la photo et du nom -->
      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef></th>
        <td class="Photo_name" mat-cell *matCellDef="let conge">
          <div class="photo-wrapper">
            <img *ngIf="conge.photourl" [src]="conge.photourl" alt="Photo">
            <span>{{ conge.displayName }}</span>
          </div>
        </td>
      </ng-container>


      <!-- Colonne de la date et du nombre de jours -->
      <ng-container matColumnDef="dateDebut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'features.conge.date' | transloco }}</th>
        <td mat-cell *matCellDef="let conge">
          {{ conge.dateDebut.toDate() | date: 'dd/MM/yyyy' }} - {{ formatDuree(conge) }}{{ 'features.liste_conge.day' |
          transloco }}
        </td>
      </ng-container>

      <!-- Colonne de la nature du congé -->
      <ng-container matColumnDef="nature">
        <th mat-header-cell *matHeaderCellDef> Nature </th>
        <td mat-cell *matCellDef="let conge"> {{ conge.nature }} </td>
      </ng-container>
      <!-- Colonne de la duree du congé -->
      <ng-container matColumnDef="duree">
        <th mat-header-cell *matHeaderCellDef> {{ 'features.liste_conge.duration' | transloco }} </th>
        <td mat-cell *matCellDef="let conge"> {{ conge.duree }} </td>
      </ng-container>

      <!-- Colonne de Commentaire  -->
      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef> {{ 'features.conge.comment' | transloco }} </th>
        <td mat-cell *matCellDef="let conge" class="comment-cell" #tooltip="matTooltip"
          matTooltipClass="comment-Toolitip" matTooltipPosition="right" [matTooltip]="conge.commentaires">
          {{ conge.commentaires }}
        </td>
      </ng-container>


      <!-- Colonne du statut du congé -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> {{ 'features.liste_conge.status' | transloco }} </th>
        <td mat-cell *matCellDef="let conge">
          <mat-chip class="chips"
            [ngClass]="{'chip-awaiting': conge.status === 0, 'chip-approved': conge.status === 1, 'chip-rejected': conge.status === 2}">
            <span *ngIf="conge.status === 0"> {{ 'features.liste_conge.awaiting' | transloco }} </span>
            <span *ngIf="conge.status === 1"> {{ 'features.liste_conge.approved' | transloco }} </span>
            <span *ngIf="conge.status === 2"> {{ 'features.liste_conge.rejected' | transloco }} </span>
          </mat-chip>
        </td>
      </ng-container>



      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let conge">
          <ng-container *ngIf="conge.status === 0">
            <!-- Afficher les icônes d'actions uniquement si le congé est en attente -->
            <button class="custom-icon" *ngIf="conge.nature === 'Congé de maladie (1 jour)'"
              (click)="openFile(conge.url_sertif)">
              <img src="../../assets/images/medical-certificate.png">
            </button>
            <button class="custom-icon" (click)="validerConge(conge)">
              <img src="../../assets/images/accepte.2.png">
            </button>
            <button class="custom-icon" (click)="refuserConge(conge)">
              <img src="../../assets/images/refuse.2.png">
            </button>

          </ng-container>
          <ng-container *ngIf="conge.status === 2 && conge.commentaire">
            <!-- Afficher un seul icône de commentaire si le congé est refusé -->
            <button class="custom-icon" (click)="Congerefuser(conge)">
              <img src="../../assets/images/comment.png">
            </button>
          </ng-container>
        </td>
      </ng-container>

      <!-- Définition des en-têtes de colonne -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <!-- Définition des lignes de données -->
      <tr mat-row *matRowDef="let conge; columns: displayedColumns"></tr>

    </table>
    <!-- Pagination -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

  </mat-card>
</div>