<mat-toolbar class="mat-elevation-z1">
  <mat-toolbar-row class="max-width-container">

    <div class="logo-chips">
      <img 
        routerLink="/dashbord" 
        class="brand" 
        [src]="domaineName !== 'tanitlab' ? '/assets/images/ealan.png' : '/assets/images/logo.png'" 
        alt="Logo" 
        role="presentation"
        style="max-width: 100px; height: auto;">
    </div>
    
    
    <div class="user-container-metadata" *ngIf="user">
      <div class="user-name">
        <button style="background-color: #fff; border: none;" routerLink="/profile">
          <div class="user-metadata" style="text-align: end;">
            <strong style="color: #E50060;">{{ user?.displayName }}</strong>
            <span style="font-size: 0.68rem; color: #193F77;">{{ domaineName }}</span>
          </div>
    
      
    
    
        </button>
        <button mat-icon-button class="user-avatar-trigger" routerLink="/profile">
          <ng-container *ngIf="!profileImage; else userImage">
            <mat-icon class="user-avatar">person</mat-icon>
          </ng-container>
          <ng-template #userImage>
            <img [src]="profileImage" class="user-avatar" alt="User Profile">
          </ng-template>
        </button>

      </div>
      <button mat-icon-button class="user-avatar-trigger" (click)="toggleHorizontalNavbar()">
        <mat-icon class="user-menu">widgets</mat-icon>
      </button>
      <button mat-icon-button class="user-avatar-trigger" (click)="signOut()">
        <mat-icon class="user-menu">logout</mat-icon>
      </button>
      <!--<button class="mat-menu-item" (click)="signOut()">
        <span style="color: white;">{{ 'layout.menu.sign-out' | transloco }}</span>
      </button>-->
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="horizontal-navbar" *ngIf="showHorizontalNavbar">

  <mat-sidenav-container class="sidenav-container">
    <mat-nav-list>
      <div class="user-container-metadata" *ngIf="user">
        <button class="custom-icon .admin" routerLink="/dashbord" *ngIf="isAdmin">
          <mat-icon>dashboard</mat-icon>
          Dashboard</button>
        <mat-list *ngIf="isAdmin">
          <mat-list-item [matMenuTriggerFor]="matTime">
            <button class="custom-icon">
              <mat-icon>work_history</mat-icon>
              {{ 'features.day_off.Time-cards' | transloco }}
              <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
            </button>
          </mat-list-item>
          <mat-menu #matTime="matMenu" class="custeme" class="mat-menu-time">
            <span class="select-button">
              <button class="custom-icon" [routerLink]="'timesheet/'+auth.currentUser.uid+'/'+today">
                <mat-icon style="color:#E50060;">event_note</mat-icon>
                <span>{{ 'features.timeshet.Time_Sheet' | transloco }}</span>
              </button></span>
            <span class="select-button">
              <button class="custom-icon" routerLink="toValide" *ngIf="isAdmin">
                <mat-icon style="color: #E50060;">pending_actions</mat-icon>
                <span>{{ 'features.day_off.titre' | transloco }}</span>
              </button>
            </span>
          </mat-menu>
        </mat-list>
        <button class="custom-icon" *ngIf="!isAdmin" [routerLink]="'timesheet/'+auth.currentUser.uid+'/'+today">
          <mat-icon>event_note</mat-icon>
          {{ 'features.timeshet.Time_Sheet' | transloco }}
        </button>
        <button class="custom-icon" routerLink="users" *ngIf="isAdmin">
          <mat-icon>manage_accounts</mat-icon>
          {{ 'layout.menu.users' | transloco }}
        </button>
        <button class="custom-icon" routerLink="projects" *ngIf="isAdmin">
          <mat-icon>format_list_bulleted</mat-icon>
          {{ 'features.projects.List_Project' | transloco }}
        </button>
        <button class="custom-icon" routerLink="day_off" *ngIf="isAdmin">
          <mat-icon>today</mat-icon>
          {{ 'features.day_off.list_day_off' | transloco }}
        </button>
        <mat-list *ngIf="isAdmin">
          <mat-list-item [matMenuTriggerFor]="matRequest">
            <button class="custom-icon">
              <mat-icon>library_add_check</mat-icon>
              {{ 'features.conge.Request' | transloco }} <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
            </button>
          </mat-list-item>
          <mat-menu #matRequest="matMenu" class="custeme">
            <span class="select-button">
              <button routerLink="conge/add" class="custom-icon">
                <mat-icon style="color: #E50060;">domain_add</mat-icon>
                <span> {{ 'features.conge.title' | transloco }}
                </span> </button></span>
            <span class="select-button">
              <button routerLink="/listconge" *ngIf="isAdmin" class="custom-icon">
                <mat-icon style="color: #E50060;">free_cancellation</mat-icon>
                <span>{{ 'layout.menu.leaveToValidate' | transloco }}</span>
              </button></span>
          </mat-menu>
        </mat-list>
        <button class="custom-icon" *ngIf="!isAdmin" routerLink="conge/add">
          <mat-icon>domain_add</mat-icon>
          {{ 'features.conge.title' | transloco }}
        </button>
        <button class="custom-icon" [routerLink]="['/remote']">
          <mat-icon>home_work</mat-icon>
          {{ 'features.remote.titre' | transloco }}
        </button>



      </div>
    </mat-nav-list></mat-sidenav-container>
  <!-- Language Selection Dropdown -->
  <mat-menu #translateLang="matMenu" class="mat-menu-language">
    <span class="select-button">
      <button (click)="onSelectionChange('en')" class="custom-icon">
        <img src="../../assets/images/En.png" alt="En">
        <span>En</span>
      </button></span>
    <span class="select-button">
      <button (click)="onSelectionChange('fr')" class="custom-icon">
        <img src="../../assets/images/Fr.png" alt="Fr">
        <span>Fr</span>
      </button></span>
  </mat-menu>

  <div class="select">
    <button mat-icon-button [matMenuTriggerFor]="translateLang" class="custom-icon">
      <img [src]="selectedLanguage === 'en' ? '../../assets/images/En.png' : '../../assets/images/Fr.png'"
        alt="{{ selectedLanguage }}">{{ selectedLanguage === 'en' ? 'En' : 'Fr' }}

    </button>
  </div>
</div>

<div class="layout-container max-width-container" [ngStyle]="{
  'margin-top.px': showHorizontalNavbar ? 118 : 62
}">
  <router-outlet></router-outlet>
</div>