<mat-toolbar class="mat-elevation-z1">
  <mat-toolbar-row class="max-width-container">

    <div class="logo-chips">
      <img routerLink="/dashbord" class="brand" src="./assets/images/logo.png" alt="Logo" role="presentation">
    </div>
    <div class="user-container-metadata" *ngIf="user">
      <div class="user-name">
        <button style="background-color: #fff; border: none; " routerLink="/profile">
          <div class="user-metadata" style="text-align: end;">
            <strong style="color: #E50060;">{{ user?.displayName }}</strong>
            <span style="font-size: 0.68rem; color: #193F77;">{{ domaineName }}</span>
          </div>
        </button>
        <button mat-icon-button class="user-avatar-trigger" routerLink="/profile">
          <mat-icon class="user-avatar">person</mat-icon>
          <!--<mat-avatar class="user-avatar">
            {{ getFirstLetter(user?.email) }} </mat-avatar>-->
        </button>
      </div>
      <button mat-icon-button class="user-avatar-trigger" (click)="toggleHorizontalNavbar()">

        <mat-icon class="user-menu">widgets</mat-icon>
      </button>

      <button class="mat-menu-item" (click)="signOut()">
        <span style="color: white;">{{ 'layout.menu.sign-out' | transloco }}</span>
      </button>

    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="horizontal-navbar" *ngIf="showHorizontalNavbar">

  <mat-sidenav-container class="sidenav-container">
    <mat-nav-list>
      <div class="user-container-metadata" *ngIf="user">
        <button class="custom-icon .admin" routerLink="/dashbord" *ngIf="isAdmin">
          <img src="../../assets/images/dashboard.png">
          Dashboard</button>
        <mat-list *ngIf="isAdmin">
          <mat-list-item [matMenuTriggerFor]="matTime">
            <button class="custom-icon">
              <img src="../../assets/images/timecard.png">
              Time cards
              <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
            </button>
          </mat-list-item>
          <mat-menu #matTime="matMenu" class="custeme" class="mat-menu-time">
            <button class="custom-icon" [routerLink]="'timesheet/'+auth.currentUser.uid+'/'+today">
              <img src="../../assets/images/schedule.png">
              <span>Timesheet</span>
            </button>
            <button class="custom-icon" routerLink="toValide" *ngIf="isAdmin">
              <img src="../../assets/images/timesheetValid.png">
              <span>{{ 'features.day_off.titre' | transloco }}</span>
            </button>
          </mat-menu>
        </mat-list>
        <button class="custom-icon" *ngIf="!isAdmin" [routerLink]="'timesheet/'+auth.currentUser.uid+'/'+today">
          <img src="../../assets/images/scheduleWhite.png">
          Timesheet
        </button>
        <button class="custom-icon" routerLink="users" *ngIf="isAdmin">
          <img src="../../assets/images/management.png">{{ 'layout.menu.users' | transloco }}
        </button>
        <button class="custom-icon" routerLink="projects" *ngIf="isAdmin">
          <img src="../../assets/images/completed-task.png">
          {{ 'features.projects.List_Project' | transloco }}
        </button>
        <button class="custom-icon" routerLink="day_off" *ngIf="isAdmin">
          <img src="../../assets/images/calendar.png">
          {{ 'features.day_off.list_day_off' | transloco }}
        </button>
        <mat-list *ngIf="isAdmin">
          <mat-list-item [matMenuTriggerFor]="matRequest">
            <button class="custom-icon">
              <img src="../../assets/images/request.png">
              {{ 'features.conge.Request' | transloco }} <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
            </button>
          </mat-list-item>
          <mat-menu #matRequest="matMenu" class="custeme">
            <button routerLink="conge/add" class="custom-icon">
              <img src="../../assets/images/leave.png">
              <span> {{ 'features.conge.title' | transloco }}
              </span> </button>
            <button routerLink="/listconge" *ngIf="isAdmin" class="custom-icon">
              <img src="../../assets/images/verification.png">
              <span>{{ 'layout.menu.leaveToValidate' | transloco }}</span>
            </button>
          </mat-menu>
        </mat-list>
        <button class="custom-icon" *ngIf="!isAdmin" routerLink="conge/add">
          <img src="../../assets/images/leaveWhite.png">
          {{ 'features.conge.title' | transloco }}
        </button>

      </div>
    </mat-nav-list></mat-sidenav-container>
  <!-- Language Selection Dropdown -->
  <mat-menu #translateLang="matMenu" class="mat-menu-language">
    <button (click)="onSelectionChange('en')" class="custom-icon">
      <img src="../../assets/images/En.png" alt="En">
      <span>En</span>
    </button>
    <button (click)="onSelectionChange('fr')" class="custom-icon">
      <img src="../../assets/images/Fr.png" alt="Fr">
      <span>Fr</span>
    </button>
  </mat-menu>

  <div class="select">
    <button mat-icon-button [matMenuTriggerFor]="translateLang" class="custom-icon">
      <img [src]="selectedLanguage === 'en' ? '../../assets/images/En.png' : '../../assets/images/Fr.png'"
        alt="{{ selectedLanguage }}">{{ selectedLanguage === 'en' ? 'En' : 'Fr' }}

    </button>
  </div>
</div>

<div class="layout-container max-width-container" [ngStyle]="{
  'margin-top.px': showHorizontalNavbar ? 118 : 62
}">
  <router-outlet></router-outlet>
</div>