<!-- Titre -->
<div class="btn-add">
  <h1>
    {{ 'features.conge.title' | transloco }}
  </h1>
</div>
<!-- Formulaire de création de congé -->
<mat-card>
  <form class="form-container" (ngSubmit)="onSubmit();"><!--Savewithemail()-->
    <!-- Titre du formulaire -->
    <mat-toolbar>
      <h1>
        {{ 'features.conge.titre' | transloco }}
      </h1>
      <mat-icon class="cale" [routerLink]="['/remote']">calendar_today</mat-icon>


    </mat-toolbar>
   
    <!-- premier ligne -->
    <div class="form-row-1">
      <!-- Type de congé -->
      <div class="Type-conge">
        <h3>{{ 'features.conge.nature' | transloco }}</h3>
        <mat-form-field class="mat-mdc-form-field" appearance="outline">
          <mat-select [(ngModel)]="natureConge" name="natureConge">
            <!-- Options pour le type de congé -->
            <mat-option value="Congé Payé">{{ 'features.conge.paid_leave' | transloco }}</mat-option>
            <mat-option *ngIf="userId && congesLengths[userId] !== 4" value="Congé de maladie (1 jour)">
              {{ 'features.conge.sick_leave' | transloco }}
            </mat-option>


            <mat-option *ngIf="userId && leavesLengths[userId] !== 1" value="Autorisation de sortie">
              {{ 'features.conge.exit_permission' | transloco }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <!-- Durée de congé en fonction du type de congé sélectionné -->
      <div class="Duree-conge">
        <h3>{{ 'features.conge.leave_duration' | transloco }}</h3>
        <mat-form-field class="mat-mdc-form-field" appearance="outline" *ngIf="natureConge === 'Congé Payé'">
          <mat-select [(ngModel)]="dureeConge" name="dureeConge">
            <!-- Options pour la durée de congé -->
            <mat-option value="Demi journée - le matin">{{ 'features.conge.half_day_morning' | transloco }}</mat-option>
            <mat-option value="Demi journée - l'après midi">{{ 'features.conge.half_day_afternoon' | transloco
              }}</mat-option>
            <mat-option value="Journée entière">{{ 'features.conge.full_day' | transloco }}</mat-option>
            <mat-option value="Plus d'1 jour">{{ 'features.conge.more_than_1_day' | transloco }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Option supplémentaire pour la durée de congé pour un type de congé spécifique conge maladie-->
        <mat-form-field class="mat-mdc-form-field" appearance="outline"
          *ngIf="natureConge === 'Congé de maladie (1 jour)'">
          <mat-select [(ngModel)]="dureeConge" name="dureeConge" class="custom-select">
            <mat-option value="Journée entière">{{ 'features.conge.full_day' | transloco }}</mat-option>
            <mat-option value="Plus d'1 jour">{{ 'features.conge.more_than_1_day' | transloco }}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Option supplémentaire pour la durée de congé pour un type de congé spécifique -->
        <mat-form-field class="mat-mdc-form-field" appearance="outline"
          *ngIf="natureConge !== 'Congé Payé' && natureConge !== 'Congé de maladie (1 jour)'">
          <mat-select [(ngModel)]="dureeConge" name="dureeConge" class="custom-select">
            <mat-option value="Début de journée">{{ 'features.conge.exit_permission_start' |
              transloco }}</mat-option>
            <mat-option value="Fin de journée">{{ 'features.conge.exit_permission_end' |
              transloco }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Deuxième ligne -->
    <div class="form-row-2">
      <h3>{{ 'features.conge.date' | transloco }}</h3>
      <!-- Afficher le sélecteur de plage de dates si la durée du congé est supérieure à un jour -->
      <ng-container *ngIf="dureeConge === 'Plus d\'1 jour'">
        <mat-form-field class="mat-mdc-form-field" subscriptSizing="dynamic" appearance="outline">
          <mat-date-range-input [rangePicker]="picker1">
            <input matStartDate autocomplete="false" matInput placeholder="Start date" [(ngModel)]="dateDebut"
              name="dateDebut" (focus)="picker.open()" />
            <input matEndDate matInput placeholder="End date" [(ngModel)]="dateFin" name="dateFin"
              (focus)="picker.open()" />
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-date-range-picker #picker1></mat-date-range-picker>
        </mat-form-field>
      </ng-container>
      <!-- Si la durée du congé est d'un jour ou moins, afficher les champs de saisie de date individuels -->
      <ng-container *ngIf="dureeConge !== 'Plus d\'1 jour'">
        <mat-form-field class="mat-mdc-form-field" subscriptSizing="dynamic" appearance="outline">
          <!-- Champ de saisie de la date de début -->
          <input matInput [matDatepicker]="picker1" placeholder="Date de début" [(ngModel)]="dateDebut" name="dateDebut"
            (focus)="picker1.open()" [matDatepickerInput]="myDatepicker" />
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </ng-container>
    </div>



    <!-- Zone de téléchargement de fichier pour un congé de maladie -->
    <!-- <div class="add-file" *ngIf="natureConge === 'Congé de maladie (1 jour)'|| natureConge === 'Congé Payé' ">
      <input type="file" (change)="onFileChange($event)">
    </div>
  -->
    <!-- Zone de téléchargement de fichier pour un congé de maladie ou payé -->
    <div class="add-file" *ngIf="natureConge === 'Congé de maladie (1 jour)' || natureConge === 'Congé Payé'">
      <input type="file" (change)="onFileChange($event)">
    </div>
    <span *ngIf="fileError" class="error-message">
      {{ 'features.conge.file_error' | transloco }}
    </span>

    <!-- Commentaires -->
    <div class="form-Comment">
      <mat-form-field appearance="outline" class="Commentaire">
        <mat-label style="color: #E50060"> {{ 'features.conge.comment' | transloco }}</mat-label>
        <!-- Zone de texte pour saisir les commentaires -->
        <textarea matInput placeholder="{{ 'features.conge.enter_comments' | transloco }}" [(ngModel)]="commentaires"
          name="commentaires"></textarea>
      </mat-form-field>
      <!-- Bouton de sauvegarde -->
      <div class="buttons">
        <button mat-flat-button color="primary" type="submit"  [disabled]="isSubmitting"> {{
          'features.projects.button.save' | transloco
          }}</button>
      </div>
    </div>

  </form>
</mat-card>