:host {
  width: 100%;
  overflow: auto;
}
button[mat-icon-button] {
  display: initial;
}
.icon-button{
  background-color: white !important;
  color: #DE3163  !important;
}
.dense-form-field {
  display: flex;
  align-items: center; /* Aligne les éléments verticalement */
  margin-right: none;
}

.mat-slide-toggle {
  transform: scale(1.5); 
  margin-left: 80px; 
}


